<h1><%= @contact[:name] %></h1>
<p><%= @contact[:phone] %></p>
<p><%= @contact[:email] %></p>

<br>
<button><a href="/contacts/<%= @i %>/edit">Edit</a></button>
<button><a href="/contacts/<%= @i %>/delete">Delete</a></button>
<button><a href="/contacts">Index</a></button>
